.col-md-6.col-md-offset-3.text-center
  = link_to "Return to root", root_path
  |
  = link_to "Create a new assignment", new_assignment_path
  %br
  %br
  - @assignments.each do |assignment|
    .col-md-4.list-group-item
      = link_to assignment.name, assignment_path(assignment)
      %br
      = link_to "edit", edit_assignment_path(assignment)
      |
      = link_to "delete", assignment_path(assignment), method: :delete
