.col-md-6.col-md-offset-3.text-center
  = link_to "Return to assignments", assignments_path
  %br
  %br
  .group-list-item
  %h3
    = @assignment.name
  = link_to "edit", edit_assignment_path(@assignment)
  |
  = link_to "delete", assignment_path(@assignment), method: :delete
  %br
  %br
  %strong Requirements:
  %br
  = @assignment.requirements
  %br
  %br
  Submissions:
  %br
  - @submissions.each do |submission|
    = link_to submission.name, assignment_submission_path(@assignment, submission)
    %br
  %br
  = link_to "Create HW Submission", new_assignment_submission_path(@assignment)
  %br
  %br
  Comments:
  %br
  %ul
    - @comments.each do |comment|
      %li
        = comment.content
        |
        = comment.user.email
        |
        = link_to "Delete comment", destroy_comment_assignment_path(comment), method: :delete
    %br
  %br
  %br
  Add Comments:
  = form_for @comment, url: create_comment_assignment_path(@assignment) do |f|
    .form-group
      = f.label :content
      = f.text_area :content, class: "form-control"
      %br
    = f.submit "Submit Comment", class: "btn btn-primary"


  