.col-md-6.col-md-offset-3.text-center
  .row
    .list-group-item
      %strong Assignment Requirements:
      .text-left
        = @assignment.requirements
      %br
      = link_to "edit", edit_assignment_path(@assignment)
      |
      = link_to "delete", assignment_path(@assignment), method: :delete
  %br
  %br
  .list-group-item
    %strong Student Submissions:
    %br
    %br
    - @submissions.each do |submission|
      = link_to submission.name, assignment_submission_path(@assignment, submission)
      |
      = submission.user.last_name + ', ' + submission.user.first_name
      %br
    %br
    = link_to "Create HW Submission", new_assignment_submission_path(@assignment)
  %br
  %br
  .list-group-item
    %strong Comments:
    %br
    .text-left
      %ul
        - @comments.each do |comment|
          %li
            = comment.content
            %br
            .text-center
              %strong
                = "Posted by: "
              = " #{comment.user.last_name}, #{comment.user.first_name}"
              = link_to "", destroy_comment_assignment_path(comment), method: :delete, class: "glyphicon glyphicon-trash"
            %br
    = form_for @comment, url: create_comment_assignment_path(@assignment) do |f|
      .form-group
        %strong
          = f.label :content, "Add Comment:"
        = f.text_area :content, class: "form-control"
        %br
      = f.submit "Submit Comment", class: "btn btn-primary"

  / - Location.all.each do |location|
  /   - location.location_courses.each do |location_course|
  /     - location_course.location_course_users.each do |location_course_user|
  /       - user = User.find(location_course_user) 
  /       = user.first_name


  