.col-md-6.col-md-offset-3.text-center
  = link_to "Return to users", users_path
  %br
  %br
  
  .group-list-item
  %h3
    = @user.first_name
    = @user.last_name
  = link_to "edit user information", edit_user_path(@user)
  |
  = link_to "delete user", user_path(@user), method: :delete
  %br
  %br
  email:
  = @user.email
  %br
  github:
  = link_to @user.github_account, "http://www.github.com/#{@user.github_account}", target: "_blank"
  %br
  Admin rights?
  - if @user.admin == true
    = "yes"
  - if @user.admin == false
    = "no"