.col-md-6.col-md-offset-3.text-center  
  .list-group-item
    %strong email:
    = @user.email
    %br
    %strong github:
    = link_to @user.github_account, "http://www.github.com/#{@user.github_account}", target: "_blank"
    %br
    %strong Admin rights?
    - if @user.admin == true
      = "yes"
    - if @user.admin == false
      = "no"
  %br
  = link_to "edit user information", edit_user_path(@user)
  |
  = link_to "delete user", user_path(@user), method: :delete  