.col-md-6.col-md-offset-3
  .list-group-item
    = form_for [@assignment, @submission] do |f|
      .form-group
        = f.label :name
        = f.text_field :name, class: "form-control"
      .form-group
        = f.label :input
        = f.text_area :input, class: "form-control"
      .form-group
        = f.submit "Submit", class: "btn btn-primary"
        - if current_page?(:controller => 'submissions', :action => 'new')
          = link_to "Cancel", assignment_path(@assignment), class: "btn btn-danger"
        -elsif current_page?(:controller => 'submissions', :action => 'edit')
          = link_to "Cancel", assignment_submission_path(@assignment, @submission), class: "btn btn-danger"
