.col-md-6.col-md-offset-3.text-center
  = link_to "Return to #{@assignment.name}", assignment_path(@assignment)
  %br
  %br
  .group-list-item
  %h3
    = @submission.name
  = link_to "Edit HW Submission", edit_assignment_submission_path(@assignment, @submission)
  |
  = link_to "Delete HW Submission", assignment_submission_path(@assignment, @submission), method: :delete
  %br
  %br
  %strong Inputs:
  %br
  = @submission.input
  %br
  %br
  %br
