.col-md-6.col-md-offset-3.text-center
  .list-group-item
    %strong Submission Input:
    .text-left
      %ul
        %li
          = @submission.input
    %br
    %strong Submission Links:
    %br
    %br
    .text-left
      %ol
        - @links.each do |link|
          %li{class: 'ordered-list'}
            = link_to link.url, "#{link.url}", target: "_blank"
            = link_to "", edit_assignment_submission_link_path(@assignment, @submission, link), class: 'glyphicon glyphicon-pencil'
          %br
    = link_to "Add Link", new_assignment_submission_link_path(@assignment, @submission)
    %br
    = link_to "Edit HW Submission", edit_assignment_submission_path(@assignment, @submission)
    |
    = link_to "Delete HW Submission", assignment_submission_path(@assignment, @submission), method: :delete
  %br
  .list-group-item
    %strong Comments:
    %br
    .text-left
      %ul
        - @comments.each do |comment|
          %li
          = comment.content
          %br
          .text-center
            %strong
              = "Posted by: "
            = " #{comment.user.last_name}, #{comment.user.first_name}"
            |
            = link_to "", destroy_comment_assignment_submission_path(@submission, comment), method: :delete, class: "glyphicon glyphicon-trash"
          %br
    = form_for @comment, url: create_comment_assignment_submission_path(@assignment, @submission) do |f|
      .form-group
        %strong 
          = f.label :content, "Add Comment:"
        = f.text_area :content, class: "form-control"
        %br
        = f.submit "Submit comment", class: "btn btn-primary"
