.col-md-6.col-md-offset-3
  .list-group-item
    = form_for @course do |f|
      .form-group
        = f.label :name
        = f.text_field :name, class: "form-control"
      .form-group
        = f.label :description
        = f.text_area :description, class: "form-control"
      %br
      = "Select location(s):"
      %br
        - @locations.each do |location|
          %label
            = check_box_tag 'course[location_ids][]', location.id, @course.locations.include?(location)
            = location.city
      %br
      .row.text-center
        = f.submit "Submit", class: "btn btn-primary"
        - if current_page?(:controller => 'courses', :action => 'new')
          = link_to "Cancel", courses_path, class: "btn btn-danger"
        -elsif current_page?(:controller => 'courses', :action => 'edit')
          = link_to "Cancel", course_path(@course), class: "btn btn-danger"
