.col-md-6.col-md-offset-3.text-center
  = link_to "Return to root", root_path
  |
  = link_to "Create a new course", new_course_path
%br
%br
- @courses.each do |course|
  .col-md-2.list-group-item
    = link_to course.name, course_path(course)
    %br
    = link_to "edit", edit_course_path(course)
    |
    = link_to "delete", course_path(course), method: :delete
%br
.row
.col.md-6.text-center
  Locations offered:
