= render 'courses_jumbotron_index'
.text-center
  = link_to "Create a new course", new_course_path
%br
%br
- @courses.each do |course|
  .col-md-3.text-center
    .list-group-item
      = link_to course.name, course_path(course)
      %br
      = link_to "edit", edit_course_path(course)
      |
      = link_to "delete", course_path(course), method: :delete
    %br
