.text-center
  = link_to "Return to courses", courses_path
  %br
  .col-md-6.col-md-offset-3.text-center
    .row
      .list-group-item
        = @course.description
      %br
      .list-group-item
        Course offered at the following locations:
        %br
        %ul.text-left
          - @locations.each do |location|
            %li
              = link_to location.city, location_path(location)
      %br
      = link_to "edit", edit_course_path(@course)
      |
      = link_to "delete", course_path(@course), method: :delete
