!!!
%html
  %head
    %title TIY Managment System

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body.container
  - if notice
    .alert.alert-success{ role: "alert"}
      = notice
  - if alert
    .alert.alert-danger{ role: "alert"}
      = alert
/ Fixed navbar
%nav.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "#"} Bootstrap theme
    #navbar.navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li.active
          %a{:href => "#"} Home
        %li
          %a{:href => "#about"} About
        %li
          %a{:href => "#contact"} Contact
        %li.dropdown
          %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            Dropdown
            %span.caret
          %ul.dropdown-menu{:role => "menu"}
            %li
              %a{:href => "#"} Action
            %li
              %a{:href => "#"} Another action
            %li
              %a{:href => "#"} Something else here
            %li.divider
            %li.dropdown-header Nav header
            %li
              %a{:href => "#"} Separated link
            %li
              %a{:href => "#"} One more separated link
      / /.nav-collapse
      %ul.nav.navbar-nav.navbar-right
        - if current_user
          = link_to "Logout #{current_user.first_name}", destroy_user_session_path, method: :delete
        - else
          = link_to "Login", new_user_session_path



/ Main jumbotron for a primary marketing message or call to action
.jumbotron
  .container
    .text-center
      %h1 Welcome to The Iron Yard Management Tool!
      %p All Iron Yard Locations, Courses, Homework Assignments, Homework Submissions, and User Information is mainted thru this Management Tool.  Please Login.
.container
  = yield