!!!
%html
  %head
    %title TIY Managment System
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body.container
  
/ Fixed navbar
%nav.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "#"} The Iron Yard Management Tool
    #navbar.navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li{class: active_link(root_path)}
          = link_to "Home", root_path
        %li.dropdown
          %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            Navigate
            %span.caret
          %ul.dropdown-menu{:role => "menu"}
            %li
              = link_to "Locations", locations_path
            %li
              = link_to "Courses", courses_path
            %li
              = link_to "Homework Assignments", assignments_path
            -if current_user && current_user.admin
              %li.divider
              %li.dropdown-header Admin Only
              %li
                = link_to "Users", users_path
          / /.nav-collapse
      %ul.nav.navbar-nav.navbar-right
        - if current_user
          %li
            = link_to "Logout #{current_user.first_name}", destroy_user_session_path, method: :delete
          %li
            = link_to "Edit User", edit_user_registration_path
        - else
          %li
            = link_to "Login", new_user_session_path
          %li
            = link_to "Register User", new_user_registration_path

/ Main jumbotron for a primary marketing message or call to action
- if notice
  .alert.alert-success{ role: "alert"}
    = notice
- if alert
  .alert.alert-danger{ role: "alert"}
    = alert
.jumbotron
  .container
    .text-center
      = render 'jumbotron_input'
.container
  = yield
  / Site footer
%footer.footer
  .container
    %p.text-muted 
      %ul
        %li{class: "inline-footer"} © TIY.MDG_Productions 2014
        %li{class: "inline-footer center-footer"}
          %a{:href => "mailto: TIY@madeup.com?subject=Webpage Input", :target => "_blank", class: "glyphicon glyphicon-envelope"} Contact

/ %footer.footer
/   %p
/     © TIY.MDG_Productions 2014
/     %br
/     %a{:href => "mailto: TIY@madeup.com?subject=Webpage Input", :target => "_blank", class: "glyphicon glyphicon-envelope"} Contact
/ /container